@import 'chosen';

// these things apply to ALL chosen containers on website...
.chosen-container {
	font-size: 13px; // was 13. probably could be bigger, but then we need to increase some sort of padding too
}

.chosen-container-multi .chosen-choices { // this is the BIG box with everything else in it
	background-color: $chosen-container-multi_chosen-choices_background-color;
	background-image: $chosen-container-multi_chosen-choices_background-image;
	border: none;
}

.chosen-container-multi .chosen-choices li.search-choice { // there is also a search-choice-focus you may need to look into
	box-shadow: none;
	background-image: $chosen-container-multi_chosen-choices_li_search-choice_background-image;
	background-color: $chosen-container-multi_chosen-choices_li_search-choice_background-color;
	border: none;
}

.chosen-container-multi .chosen-drop .result-selected {
	color: $chosen-container-multi_chosen-drop_result-selected;
}

.chosen-container .chosen-results {
	color: $chosen-container_chosen-results;
	li {
		&.disabled-result {
			// color: #ccc;
		}
		&.highlighted {
			// background-image: none;
			// background-color: pink;
			// color: #fff;
		}
		&.no-results {
			// color: #777;
			// background: red;
		}
	}
}
