@import 'variables';

// #graph-container {
//   position: absolute;
//   background-color: green;
svg {
	@include hide;

	.node-text {
		@include font; // we won't need this if we end up overriding everything...
		font-family: Helvetica, Tahoma, Arial, sans-serif;
		text-anchor: middle;
	}

	text {
		pointer-events: none;
		text-shadow: 0px 0px 2px $svg_text_text-shadow; // helps us to see node labels on top of other things better!
	}

	.link {
		stroke: $svg_link_stroke;
		stroke-width: 2px;
	}

	.arrow-head {
		fill: $svg_arrow-head_fill;
	}
}
// }

