$height: 25px;

input {
	height: $height;
	padding-left: 8px;
}

button {
	height: $height;
	border-radius: 5px;
	background: $button_background-color;
	// background-clip: padding-box; // no change
	// box-shadow: 0 0 3px $button_box-shadow inset, 0 1px 1px $button_box-shadow_inset; // no change
	// text-decoration: none; // no change
	// white-space: nowrap; // no change
	line-height: 20px;
	border: 1px solid $button_border;
}

section, svg { // this resizes svg element but NOT the graph animation inside of it
	min-width: 100%;
	max-width: 100%;
}

@mixin hover-opacity {
	opacity: 0.5;
	&:hover {
		opacity: 1 !important;
	}
}
