$height: 25px;

input {
	height: $height;
	padding-left: 8px;
}

button {
	height: $height;
	border-radius: 5px;
	background: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	// background-clip: padding-box; // no change
	// box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1); // no change
	// text-decoration: none; // no change
	// white-space: nowrap; // no change
	line-height: 20px;
	border: 1px solid #aaa;
}
