@import 'reset';

///////////////////////////////////// VARIABLES /////////////////////////////////////
$black: #633d11; $darkgrey: #333; $grey: #555; $lightgrey: #777; $transgrey: rgba( 80, 80, 80, 0.5 );
$white: #eee; $darkwhite: #999;

$gold: #e6d460; $blue: #0af;
$rose: #f02b4c; $pink: #f12772; $red: $rose;
$brightgreen: #a6de2a; $lightgreen: #0d0; $mediumgreen: #0a0; $green: $mediumgreen;

@mixin font {
  color: $black;
  font-family: Monaco, "Lucida Console", Courier, "Courier New", monospace;
  font-size: 0.9rem; //0.9rem == 14px
  line-height: 1.2rem; //1.2 rem ~~ 19px
}

//////////////////////////////////////// CSS ////////////////////////////////////////
.field {
color:green
}


svg {
  border: green 1px solid;

  .definition-circle {
    fill: $green;
    opacity: 0.4;
  }
  .theorem-circle {
    fill: steelblue;
    opacity: 0.4;
  }
  .exercise-circle {
    fill: $darkwhite;
    opacity: 0.4;
  }

  .node-text {
    @include font; // we won't need this if we end up overriding everything...
    font-family: Helvetica, Tahoma, Arial, sans-serif;
    text-anchor: middle;
  }

  text {
    pointer-events: none;
  }

  .link {
    stroke: gray;
    stroke-width: 2px;
  }

  .arrow-head {
    fill: pink;
  }
}


