__pycache__/
.sass-cache/
www/scripts/main.js
www/scripts/main-optimized.min.js
www/scripts/tests.js
www/scripts/lib/blinds.js
www/scripts/lib/user.js
www/scripts/lib/profile.js
www/scripts/lib/graph.js
www/scripts/lib/graph-animation.js
www/scripts/lib/node.js
www/stylesheets
server/data/*.json
server/dictionary_maker.py
text-files/things-to-go-over-with-theo.txt
*~
#*#
*.pyc
*secrets.txt
ignore/

# TeX things
Output/
*.pdf
*.synctex.gz
